.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown ul {
  @apply list-disc;
}

.markdown ol {
  @apply list-decimal;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown a {
  @apply text-sky-500;
}

.markdown code {
  background-color: #f5f5f5; /* Light grey background */
  border-radius: 4px; /* Rounded corners */
  color: #d63384; /* Slightly darker shade of red for text */
  font-family: 'Courier New', Courier, monospace; /* Monospace font for code */
  padding: 0.2em 0.4em; /* Padding for better spacing */
  font-size: 0.95em; /* Slightly smaller font size */
  border: 1px solid #e1e1e1; /* Light grey border */
  word-wrap: break-word; /* Ensure long code breaks into the next line */
}
